@import "styles/main";


footer {
  margin-bottom: 30px;
  padding: 25px;
  text-align: center;
}


form {
  position: relative;
  margin: 30px auto;
  max-width:950px;
  text-align: left;
}


form div {
  margin: 20px;
}

input, select, textarea {
  width: 100%;
  font-size: 18px;
  padding: 8px 16px;
  margin:5px auto;
  line-height : 22px;
  letter-spacing: 1.5px;
  color: rgb(59, 59, 59);
  background-color:#cecece85 ;
  border-radius: 8px 0 8px 0;
}

.link-primary {
  cursor: pointer;
}


.copyright{
  font-family: "Helvetica Neue";
  font-weight : 400;
  text-decoration: none;
  color :darkgray;
}

.copyright.link:hover {
  font-weight: 600;
  color :darkgray;
}

.social-icons {
  height: 40px;
  display: flex;
  justify-content: center;
}

.logo-social {
  border-radius: 10%;
  margin : 0px 20px 0 20px;
}

.logo-social:hover{
  background: #c2c2c28c ;
}

.form-button {
  position : absolute;
  bottom : -100px;
  right : 80px;
}


.icon {
  width :15px;
  height: 15px;
  position : relative;
  top : -5px;
}


